body {
    margin: 0;
}

/* Horizontal bar */
#logo-bar {
    height: 80px;
    width: 100%;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 350px;
}

/* Logo in horizontal bar */
#logo {
    height: 100%;
    margin-left: 20%;
}

/* Main container */
#container {
    height: 100%;
    margin: 0 20%;
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
}

/* Text in main */
#title {
    margin: 0;
    padding-top: 30px;
}

.info, figcaption {
    color: grey;
}

#author {
    font-weight: 600;
}

#date, figcaption {
    font-size: 12px;
}

.higlighted {
    background-color: yellow;
}

ul {
    padding-left: 20px;
}